body {
    display: flex;
    flex-direction: column;
    margin: 0;        
}
.top1 {
    display: flex;
    justify-content: space-between;
}
header h2 {
    color: #F9FAF8;
    font-size: 24px;
}
.buttons a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.top2 {
    display: flex;
    padding: 10vw 0;
    gap: 3vw;    
}
.img {
    width: 80vw;
    height: 16vw;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}
.text {
    display: flex;
    flex-direction: column;
}
.text h1 {
    color: #F9FAF8;
    font-size: 45px;
    padding: 0;
    margin: 0;
}
.text p {
    margin: 0;
    padding: 5px 0;
    color: #e5e7eb;
    font-size: 18px;
}
.text button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 10px;
}
header {
    background-color: #1F2937;
    padding-left: 15vw;
    padding-right: 15vw;
}
.information {
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 15vw;
}
.ibox {
    width: 12vw;
    height: 12vw;
    border: 3px solid;
    border-color: blue;
    border-radius: 10px; 
}
.boxes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vw;
}
.info {
    font-size: 36px;
    font-weight: 900;
    padding: 5vw 0;
    color: #1f2937;
    text-align: center;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.itext {
    width: 12vw;
    display: flex;
    text-align: center;  
    font-size: 18px;
    color: gray;
    font-weight: 700;   
}
.qu {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}
.quote {
    background-color: #e5e7eb;
    padding: 10vw 15vw;
}
.quote p {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    padding-right: 40px;
}
.bluebox {
    margin: 8vw 15vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
    background-color: #3882f6;
    border-radius: 15px;
    align-items: center;
}
.bluebox p strong {
    font-size: 28px;

}
.bluebox button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    background-color: #3882f6;
    border-color: white;
    border-radius: 10px;
    color: white;
}
.bluebox p{
    font-size: 18px;
    color: white;
}
footer {
    height: 5vw;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    color: white;
    font-size: 18px;
}
